@model Book
@{
	var book = Model;
}
<div><a asp-action="Index" class="btn btn-warning  m-2">Back</a></div>
<form asp-action="Add" class="form-control" method="post">
	<div>
		<span>@book.Name</span>
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" disabled />
		<span asp-validation-for="Name"></span>
	</div>
	<div>
		<label asp-for="Description"></label>
		<input asp-for="Description" class="form-control" disabled/>
		<span asp-validation-for="Description"></span>
	</div>
	<div>
		<label asp-for="Type"></label>
		<input asp-for="Type" class="form-control" disabled/>
		<span asp-validation-for="Type"></span>
	</div>

</form>
