@{
    ViewData["Title"] = "Home Page";
}

<div>
	<div>
		<i class="fa-solid fa-book fa-shake w-100 h-100" style="color: #050505;"></i>
	</div>
	<div class="text-center">
		<h1 class="display-4 welcome">Welcome to our book store</h1>
	</div>
</div>
